* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans;
}

.contenedor {
    background-color: #353535;
    flex-wrap: wrap;
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

.redes-container {
    position: fixed;
    display: flex;
    align-items: center;
    height: 1060px;
    margin: 20px;
    transition: .3s;
}

.redes-container ul li {
    vertical-align: middle;
    width: 0px;
    height: 40px;
    text-align: center;
    list-style: none;
}

.redes-container ul li a {
    display: block;
    padding: 10 10px;
    color: rgb(253, 76, 76);
    font-size: 20px;
    transition: .2s;
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul a:hover {
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.titulo {
    color: white;
    font-size: 40px;
    transition: .3s;
}

.navegador {
    padding: 30px;
    transition: .3s;
}

.navegador ul {
    list-style-type: none;
    text-align: right;
}

.navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

.navegador ul li a {
    padding: 2px 7px 2px 7px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.navegador a:hover {
    color: rgb(253, 76, 76);
    transition: .3s;
}

.navegador i:hover {
    color: rgb(163, 163, 163);
    transition: .3s;
}

.titulo {
    text-align: center;
    margin: 0;
    padding: 0;
}

.titulo h2 {
    line-height: 60px;
    margin: 0px;
    color: rgb(253, 76, 76);
}

.titulo p {
    font-size: 20px;
    margin: 40px;
    margin-left: 190px;
    margin-right: 190px;
    color: white;
}

#imagen-cambiante {
    background-image: url('../img/avataaars.png');
    height: 280px;
    margin: 0px auto 0px;
    width: 260px;
    transition: .3s;
}

#imagen-cambiante:hover {
    background: url('../img/avataaars2.png') no-repeat;
    transition: .3s;
}

.contenedor-tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-right: 110px;
    transition: .5s;
}

.contenedor-tarjeta:hover {
    transform: translateY(-3px) scale(1.05);
    transition: .5s;
}

.card-container {
    display: flex;
    width: 1200px;
    height: auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .5);
}

.header {
    text-align: center;
    margin-top: 20px;
    color: #353535;
    font-size: 12px;
    border-right: 1px #ddd solid;
    margin-bottom: 20px;
}

.header p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
    text-align: center;
}

.header i {
    font-size: 40px;
    padding: 10px;
    color: rgb(253, 76, 76);
}

.header2 i {
    font-size: 40px;
    padding: 10px;
    color: rgb(253, 76, 76);
}

.header2 {
    text-align: center;
    margin-top: 20px;
    color: #353535;
    font-size: 12px;
    border-right: 1px #ddd solid;
    margin-bottom: 20px;
}

.header2 p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
    text-align: center;
}

.utilizadas {
    color: rgb(253, 76, 76);
    font-weight: 700;
}

.idiomas {
    font-weight: 600;
}

.contacto-button {
    color: rgb(253, 76, 76);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(253, 76, 76);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 590px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .1);
    transition: .2s;
    font-weight: 600;
}

.contacto-button:hover {
    background-color: rgb(253, 76, 76);
    transform: translateY(-3px) scale(1.20);
    color: white;
    transition: .4s;
}

.contacto-text {
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.contacto-icono {
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
    color: rgb(253, 76, 76);
}

.icon {
    text-align: center;
    font-size: 80px;
    color: rgb(253, 76, 76);
    padding: 0px;
    margin: 0px;
}

.icon i {
    margin-top: 70px;
    transition: .4s;
}

.icon i:hover {
    transform: translateY(-10px) scale(1.50);
    transition: .4s;
}

.developer i {
    margin: 20px;
    font-size: 60px;
}

.container-footer {
    background-color: rgb(39, 39, 39);
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/
}

.container-footer p {
    text-align: center;
    padding: 50px;
    color: white;
    font-weight: 600;
}

.titulo-contacto{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.titulo-contacto h1{
    color: rgb(253, 76, 76);
}

.titulo-contacto h2{
    color:white;
}

.correo-gmail i{
    font-size: 70px;
    margin-left: 450px;
    color:  rgb(253, 76, 76);
    transition: .4s;
    margin-bottom: 20px;
    
}

.correo-gmail{
    display: flex;
}

.correo-gmail2 i{
    font-size: 70px;
    margin-left: 310px;
    color:  rgb(253, 76, 76);
    transition: .4s;
    margin-bottom: 20px;
    
}

.correo-gmail2{
    display: flex;
}

.correo-gmail2 i:hover{
    transform: translateY(-10px) scale(1.50);
    transition: .4s;
}

.correo-gmail i:hover{
    transform: translateY(-10px) scale(1.50);
    transition: .4s;
}

.gmail-texto{
    color: white;
    margin-left: 250px;
    padding-bottom: 30px;
}

.enlace-copy {
    font-size: 25px;
    font-weight: 600;
    padding-left: 310px;
    color: white;
}

.enlace-copy2 {
    font-size: 25px;
    font-weight: 600;
    padding-left: 97px;
    color: white;
    font-weight: 600;
}

.btn-copiador{
    color: rgb(253, 76, 76);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(253, 76, 76);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 425px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .1);
    transition: .2s;
    font-weight: 600;
}

.btn-copiador2{
    color: rgb(253, 76, 76);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(253, 76, 76);
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 251px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .1);
    transition: .2s;
    font-weight: 600;
}

.btn-copiador2:hover{
    background-color: rgb(253, 76, 76);
    transform: translateY(-3px) scale(1.20);
    color: white;
    transition: .4s;
}

.btn-copiador2:active{
    transform: scale(1.06);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, .4);
}

button#copiador:hover {
    background-color: rgb(253, 76, 76);
    transform: translateY(-3px) scale(1.20);
    color: white;
    transition: .4s;
}

button#copiador:active {
    transform: scale(1.06);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, .4);
}






